<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>com.idconnect.servlet.create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fech</servlet-name>
        <servlet-class>com.idconnect.servlet.fech</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresoServlet</servlet-name>
        <servlet-class>com.idconnect.servlet.IngresoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fech</servlet-name>
        <url-pattern>/fech</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoServlet</servlet-name>
        <url-pattern>/IngresoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
